@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Neonderthaw&family=Playfair+Display&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav Bar Styling*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #222831;
    font-family: Poppins, san-serif;
}


.logo a{
    text-decoration: none;
    text-transform: uppercase;
    color:#EEEEEE;
    letter-spacing: 5px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
    text-transform: uppercase;
}
.nav-links a{
    color: #b8ebe5;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'poppins', sans-serif
}

/* indicate page hovered on in nav */
nav a:hover:not(.activepage) {
    text-decoration-color: white;
    text-decoration-thickness: 8%;
  }
  
/* indicate active page on nav */
nav .activepage {
    color: #00cbd6;
  }

/*Burger Styling*/
.burger {
    display: none;
    cursor: pointer;
    margin-left: auto;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(209, 209, 209);
    margin: 5px;
    transition: all 0.5s ease;
}

/*Normal Line of Nav Links*/

@media screen and (max-width: 2500px){
    .nav-links {
        width: 40%;
    }
}

/* Hamburger Menu when the page vw is decreased */

@media screen and (max-width: 2000px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #393E46;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;
    }

    .navlinks li {
        opacity: 0;
    }

    .burger{
        display: block;
        margin: 0px;
        top: 0px;
        margin-left: auto;
        padding-right: 1vw;
    }

    .logo {
        padding-left: 1.5vw;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opactiy: 1;
        transform: translateX(0px);
    }
}

.toogle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

nav a {
    position: relative;
    text-decoration: none;
    padding: 0 10px;
}

nav .a:after{
    content: "";
    position: absolute;
    background-color: rgb(227, 243, 253);
    height: 0.10vw;
    width: 100%;
    left: 0;
    width: 0;
    bottom: -0.5vw;
    transition: 0.3s;
}

nav .a:hover{
    color: #00cbd6;
}

nav .a:hover:after{
    width: 100%;
}

/* button in nav bar */
.btn {
	line-height: 2.5vw;
	height: 2.5vw;
	margin-top: -2vw;
	text-align: center;
	width: 9vw;
	letter-spacing: 0.1vw;
	cursor: pointer;
  }

  .btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
  }
  .btn-one span {
	transition: all 0.3s;
  }
  .btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 0.1vw;
	border-bottom-width: 0.1vw;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
  }
  .btn-one:hover span {
	letter-spacing: 2px;
  }
  .btn-one:hover::before {
	opacity: 1; 
	transform: scale(1, 1); 
  }
  .btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.171);
  }
  .btn-one:hover::after {
	opacity: 0; 
	transform: scale(0.1, 1);
  }
